<ul class="nav nav-sidebar">
  <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
  <li><a href="#">Analytics</a></li>
  <li><a href="#">Export</a></li>
</ul>

<ul class="nav nav-sidebar">
  <% @items.each do |item| %>
  	<% item_link = item['item'].downcase %>
    <li>
    	<a href="/<%= item_link %>">
    		<%= item['item'] %>
    	</a>
    </li>
  <% end %>
</ul>
