<div class="row">

	<div class="col-sm-3 col-md-2 sidebar">
  	<%= render 'menus/sidebar' %>
  </div>

  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="jumbotron">
      <h1 class="page-header text-center">Dashboard</h1>
    </div>

    <h2 class="sub-header">Item Details</h2>
    <%= render 'menus/table' %>

    <div class="col-sm-2 col-md-2 col-sm-offset-10 col-md-offset-10">
      <%= link_to "Add new item", new_menu_path, class: "btn btn-primary" %>
    </div>
  </div>

</div>